<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961565281311-fr2r1um0426lvdlqp0jjdnfqdomu4r3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961565281311-fr2r1um0426lvdlqp0jjdnfqdomu4r3t</string>
	<key>API_KEY</key>
	<string>AIzaSyCSnQl_pzuOGvG0RI414VdfiMv36B3Ozeo</string>
	<key>GCM_SENDER_ID</key>
	<string>961565281311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suguru-takahashi.DISample.Production</string>
	<key>PROJECT_ID</key>
	<string>di-sample-prd</string>
	<key>STORAGE_BUCKET</key>
	<string>di-sample-prd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961565281311:ios:4def4678921c7c19e0192a</string>
</dict>
</plist>