name: Generate Tag & Release Note Draft

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag name (e.g., 1.0.2, 1.0.2-rc.1)'
        required: true
        default: '0.0.0'

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
    - name: Generate Release Note URL and Validate Tag
      run: |
        # Check tag format
        TAG_FORMAT="^([0-9]+\.[0-9]+\.[0-9]+(-rc\.[0-9]+)?)$"
        if [[ ! "${{ github.event.inputs.tag }}" =~ $TAG_FORMAT ]]; then
          echo "Error: Invalid tag format!"
          exit 1
        fi
        
        # Extract branch name from github.ref
        BRANCH_NAME=$(echo ${{ github.ref }} | sed 's/refs\/heads\///')
        
        # Print the release note URL
        echo "https://github.com/suguruTakahashi-1234/DISample/releases/new?tag=${{ github.event.inputs.tag }}&title=${{ github.event.inputs.tag }}&target=$BRANCH_NAME&prerelease=1"
